h1{
    color:black;
    text-align: center;
}
.ListGroup {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 50px;
    align-content: flex-start;
}

.ListGroup .product {
    flex: 0 0 calc(33.33% - 20px);
    margin: 10px;
}